# Pyhton Basics

Data types

In [46]:
import os
os.chdir("G:/Study/py")
os.getcwd()

'G:\\Study\\py'

Integers

In [44]:
5+10

15

In [2]:
5*10

50

In [3]:
5/10

0.5

In [4]:
5%10

5

In [5]:
5**10

9765625

In [6]:
type(4)

int

In [7]:
#float
5.5

5.5

In [8]:
type(5.5)

float

In [9]:
5.5*10

55.0

In [10]:
#strings
type('stri')

str

In [15]:
10*'a'

'aaaaaaaaaa'

In [16]:
#bool
a = True
type(a)

bool

In [17]:
#variable assignment
c = '100 times'
type(c)

str

In [18]:
#Maths operations
x = 10
y = 5
z = ((x*y) + (x**y) + (x/y) + (x%y))
z

100052.0

In [20]:
#Various ways of printing
fname = 'Kunal'
lname = 'Sharma'
print("My first name is {} and last name is {}".format(fname,lname))

My first name is Kunal and last name is Sharma

In [21]:
print("My first name is {} and last name is {}".format(lname,fname))

My first name is Sharma and last name is Kunal

In [22]:
#to overcome above 
print("My first name is {first} and last name is {last}".format(first=fname,last=lname))

My first name is Kunal and last name is Sharma

In [23]:
print("My first name is {first} and last name is {last}".format(last=lname, first=fname))

My first name is Kunal and last name is Sharma

In [24]:
print("My first name is {ff} and last name is {ll}".format(ll=lname, ff=fname))

My first name is Kunal and last name is Sharma

In [28]:
#input
val1 = input("please enter a value" )
val2 = input("please enter second value")
print("sum of val1 {}, val2{} is {}".format(val1,val2,(val1+val2)))

please enter a value10
please enter second value20
sum of val1 10, val220 is 1020

In [29]:
#to make integers
val1 = int(input("please enter a value" ))

please enter a value10

In [30]:
type(val1)

int

In [37]:
val1 = int(input("please enter a value " ))
val2 = int(input("please enter second value "))
print("sum of val1 {}, val2 {} is {} and average is {} ".format(val1,val2,(val1+val2),((val1+val2)/2)))

please enter a value 20
please enter second value 30
sum of val1 20, val2 30 is 50 and average is 25.0

In [42]:
a

True