# Sets

In [2]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [3]:
s = {1,2,2,2,3,44,4,5,1,4}

In [4]:
s

{1, 2, 3, 4, 5, 44}

In [5]:
#accessing
s[0]

TypeError: 'set' object is not subscriptable

In [6]:
#add
s.add(10)
s

{1, 2, 3, 4, 5, 10, 44}

In [8]:
s.add(0)
s

{0, 1, 2, 3, 4, 5, 10, 44}

In [10]:
#copy
se = s.copy()
se

{0, 1, 2, 3, 4, 5, 10, 44}

In [11]:
se.add(15)

In [12]:
#difference
se.difference(s)

{15}

In [13]:
#difference_update
se.difference_update(s)

In [14]:
se

{15}

In [15]:
s

{0, 1, 2, 3, 4, 5, 10, 44}

In [19]:
#clear
se.clear()

In [20]:
se

set()

In [25]:
se = s.copy()

In [26]:
se.add(16)

In [27]:
#intersection
s.intersection(se)

{0, 1, 2, 3, 4, 5, 10, 44}

In [28]:
se.intersection(s)

{0, 1, 2, 3, 4, 5, 10, 44}

In [29]:
#intersection_update
se.intersection_update(s)

In [30]:
se

{0, 1, 2, 3, 4, 5, 10, 44}

In [31]:
se.add(17)

In [33]:
#discard
se.discard(0)

In [34]:
se

{1, 2, 3, 4, 5, 10, 17, 44}

In [36]:
se.discard(66)

In [37]:
print(se)

{1, 2, 3, 4, 5, 10, 44, 17}

In [38]:
se

{1, 2, 3, 4, 5, 10, 17, 44}

In [48]:
#disjoint
se.isdisjoint(s)

False

In [42]:
ss = {'a','b','aa','ab'}
ss

{'a', 'aa', 'ab', 'b'}

In [45]:
s1 = ss.copy()

In [46]:
ss.isdisjoint(s1)

False

In [49]:
s1.issubset(ss)

True

In [50]:
s1.add(1)

In [51]:
#upperset
s1.issuperset(ss)

True

In [52]:
#symmetric_difference
s1.symmetric_difference(ss)

{1}

In [53]:
#symmetric_difference_update
s1.symmetric_difference_update(ss)
s1

{1}

In [55]:
s1.add(4)

In [56]:
#pop
ss.pop()

'ab'

In [57]:
ss

{'a', 'aa', 'b'}

In [60]:
#union
ss.union(s1)

{1, 4, 'a', 'aa', 'b'}

In [59]:
s1.union(ss)

{1, 4, 'a', 'aa', 'b'}

In [61]:
s1

{1, 4}

In [63]:
#update
s1.update(s1.union(ss))

In [64]:
s1

{1, 4, 'a', 'aa', 'b'}

In [66]:
#remove
s1.remove('aa')

In [67]:
s1

{1, 4, 'a', 'b'}

In [68]:
#
list1 = [1,2,3,1,2,4,5]
set1 = set(list1)

In [69]:
set1

{1, 2, 3, 4, 5}

In [70]:
#pop
set1.pop()

1

In [71]:
set1.add(-1)

In [72]:
set1

{-1, 2, 3, 4, 5}

In [73]:
set1.pop() # will delete +ve elements first

2

In [74]:
#can't pass lists inside set
set2 = {[1,2],4}

TypeError: unhashable type: 'list'

In [75]:
see = {(1,2,3),4}

In [76]:
see

{(1, 2, 3), 4}

In [77]:
see = {{1,2,3},4} #need to pass as tuple

TypeError: unhashable type: 'set'